@import "tailwindcss";

@theme {
    --color-backgrounds1: #FDFDFF;
    --color-backgrounds2: #F8F8FF;
    --color-interactives1: #F8F8FF;
    --color-interactives2: #E6E7FF;
    --color-interactives3: #DADCFF;
    --color-borders1: #CBCDFF;
    --color-borders2: #B8BAF8;
    --color-borders3: #9B9EF0;
    --color-solid1: #5B5BD6;
    --color-solid2: #5151CD;
    --color-accessibletext1: #5753C6;
    --color-accessibletext2: #272962;
    --color-gray-backgrounds1: #FAFAFA;
    --color-gray-backgrounds2: #F6F6F6;
    --color-gray-interactives1: #EDEDED;
    --color-gray-interactives2: #E5E5E5;
    --color-gray-interactives3: #DEDEDE;
    --color-gray-borders1: #D5D5D5;
    --color-gray-borders2: #CBCBCB;
    --color-gray-borders3: #B7B7B7;
    --color-gray-solid1: #8A8A8A;
    --color-gray-solid2: #808080;
    --color-gray-accessibletext1: #616161;
    --color-gray-accessibletext2: #202020;
};

@font-face {
  font-family: "Tiamat";
  src: url("/fonts/tiamat.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
    --statblock_font-tiamat: "Tiamat", serif;
}
.font-roboto {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.statblock {
    background: #f5f3ee !important;
    position: relative;
    box-shadow: 0 0 5px #979AA4;
    border: 1px solid #d4d0ce;
    padding: 15px;
    margin: 15px 0;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 15px;
    outline: 1px solid #afa47a;
    outline-offset: -0.25rem;
    border-radius: .5rem;
}

.statblock-header-name {
    border-bottom: .063rem solid #5b160c;
    font-family: "Scala Sans Sc Offc", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    column-span: all;
    margin-bottom: .45rem;
    color: #822000;
}

.statblock-stat-table thead tr th {
    color: #68747b !important;
    font-weight: 400;
    padding: .3125rem .125rem 0;
    text-transform: uppercase;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .6875rem;
}

.statblock-stat-table tbody tr {
    border-top: .0625rem solid #fff;
    border-bottom: .0625rem solid #fff;
    color: #5b160c;
    text-align: center;
    font-size: .938rem;
}

.statblock-stat-table-phy-val { background-color: #ede6d9}
.statblock-stat-table-phy-mod { background-color: #ded4cc}
.statblock-stat-table-men-val { background-color: #d8dad1}
.statblock-stat-table-men-mod { background-color: #d0caca}

.statblock-desc-block-header {
    border-bottom: .063rem solid #5b160c;
    font-size: 1.25rem;
    font-family: "Scala Sans Sc Offc", Roboto, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 1.25rem;
    margin-bottom: .938rem;
    color: #5b160c
}
